<div align="center">

<% if(user){ %>
    <p>Logged in as: <strong><%= user.email %></strong></p>
    <form action="/logout" method="POST" style="margin: 25px">
      <button type="submit">Logout</button>
    </form>
  <% } else {%>
    <a href="/login" style="margin-bottom:20px">Login</a>
    <a href="/register">Register!</a>
  <% } %>




