
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <%- include ./partials/_header.ejs %>
</head>
<body>


<h1>MY APP</h1>
<% if(user){ %>
       <% urls.forEach( url => { %>

        <li><%= url.longURL + ": " + url.id%><a href="/urls/<%= url.id %>">Edit</a> <form method="POST" action="/urls/<%= url.id%>/delete"><button>Delete short URL</button></form></li>
    <% }); %>

<h2>Shorten URL here:</h2>
<form action="/urls/new" method= "POST">
<button href=#>Shorten Me</button>
</form>
<% } else {%>
   <h1>Please login here: <a href="/login"> Login </a></h1>
  <% } %>


  </body>
</html>

